<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			Welcome to the oldcomputers website <%= render 'main/facebook' %>&nbsp;<%= render 'main/twitter' %>
        </h3>
	</div>

<div class="col-md-3">
	<%= render 'main/menu' %>
	<%= render 'collection/itemfields' %>
</div>

<div class="col-md-9">
	<%= render :partial => 'blog/view', :locals => {blog: Blog.latest} %>

    <% if !Blog.secondlast.blank? %>
        &nbsp;
    	<%= render :partial => 'blog/view', :locals => {blog: Blog.secondlast} %>
    <% end %>
</div>

</div>
