<div class="row">
    <div class="col-md-12">
        <h3 class="page-header"><%= item.name %></h3>
    </div>
    <div class="col-md-4">
        <ul>
            <%=raw "<li>Collections : " + item.get_virtualcollections_string + "</li>" if !item.get_virtualcollections_string.blank? %>
            <li>Category : <%= item.get_categories_string %></li>
            <li>Condition : <%= item.get_conditions_string %></li>
            <li><%= item.get_rolodexes_string %></li>
            <li>Year : <%= item.year %></li>
            <li><%= item.get_all_fieldoptions_string %></li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="center-block">
            <% if !item.images.blank? %>
                <img class="img-responsive img-thumbnail" src="<%= item.images.first.rawimage.url(:latest) %>" alt="">
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <p><%= item.note %></p>
    </div>
</div>
