<% if items.count > 10 %>
<div class="text-center">
	<%= will_paginate items, renderer: BootstrapPagination::Rails %>
</div>
<% end %>

<% items.each do |item| %>
	<div class="pull-left">
		<% if !item.images.blank? %>
			<img class="img-responsive img-thumbnail img-hover" src="<%= item.images.first.rawimage.url(:list) %>" alt="">
		<% end %>
		&nbsp;
	</div>
	<div>
		<a href="/items/<%= item.slug %>"><%= item.name %></a>
		<br/>
		<%= item.year %> |
		<%= item.get_virtualcollections_string %> |
		<%= item.get_categories_string %> |
		<%= item.get_rolodexes_string %> |
		<%= item.get_all_fieldoptions_string %>
	</div>
	<div class="clearfix"></div>
	<%=raw "<hr/>" if item != items.last %>
<% end %>

<div class="text-center">
	<%= will_paginate items, renderer: BootstrapPagination::Rails %>
</div>
