<div class="text-center">
	<%= will_paginate images, renderer: BootstrapPagination::Rails %>
</div>
<div class="row">
<% images.each do |image| %>
		<div class="col-xs-3 text-center">
			<%= image.items.first.name if !image.items.first.blank? %></h4>
			<a href="<%= image.click_through_link %>"><img class="img-responsive img-thumbnail" src="<%= image.rawimage.url(:gallery) %>" alt=""/></a>

		</div>
	<% if images.index(image)%4 == 3 %>
		</div>
		<br/>
	<% end %>

	<% if images.index(image)%4 == 3 %>
		<div class="row">
	<% end %>

	<% end %>
</div>
<div class="text-center">
	<%= will_paginate images, renderer: BootstrapPagination::Rails %>
</div>
