<div class="panel panel-primary">
	<div class="panel-heading">
		<%= blog.title %><span class="pull-right"><%=  Date::MONTHNAMES[blog.created_at.month] %> <%= blog.created_at.year %></span>
	</div>
	<div class="panel-body">
		<%=raw blog.content %>
	</div>
</div>

<% if @allow_blog_comments %>
	<%= render :partial => 'main/facebook' %>
<br/><br/>
<%= render :partial => 'main/contact', :locals => {blog: blog, comment: Comment.new(subject: blog.title), item: nil} %>
<br/>

<%= render :partial => 'main/comment_list', :locals => {comments: blog.comments.approved} %>

<% end %>