<!DOCTYPE html>
<html>
<head>
    <%= render :partial => 'main/google_tracker' if Rails.env.production? %>
	<title>oldcomputers</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
	<% if @item != nil %>
		<meta name="Description" content="<%= @item.meta_description_tag %> ">
	<% end %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render :partial => 'main/nav' %>

<div class="container">
<div class="row">
	<div class="col-md-3">
		<%= render 'collection/menu' %>
	</div>
	<div class="col-md-9">
		<%= yield %>
	</div>
</div>
</div>

<%= render :partial => 'main/footer' %>

</body>
</html>
